body {
  text-align: center;
  font-family: monospace;
  color:  #39ff14;
}

.labelSize {
  font-size: 20px;
  color:  #39ff14;
}

inputs {
  font-size: 16px;
  font-family: monospace;
  color: darkred;
}
p {
  font-size: 16px;
  font-family: monospace;
  color: red;
}
